/*
Danny Le
2024-04-14

Table of Contents:
1. Overall Template for all Pages
2. Navigation Buttons 
3. Header
4. Main
5. Footer
6. Responsive Design
*/

/* 1. */
	@font-face {
		font-family : Pixelify Sans;
		src : url("PixelifySans-VariableFont_wght.ttf") format("truetype");
	}
	html {
		height : 100%;
	}
	body {
		margin : auto;
		max-width : 1400px;
		text-align : center;
		background : linear-gradient(to bottom, white, blue, black);
		background-attachment : fixed;
		color : white;
		padding : 2%;
		position : relative;
		font-family : Pixelify Sans;
	}
	header, main, footer {
		background-color : black;	
		border : 5px outset white;
		margin : 1%;
		padding : 1%;
		
	}
	p {
		font-size : 75%;
	}
	h3 {
		font-size : 30px;
	}

/* 2. */
	nav > li {
		display : block;
		width : 30.85%;
		float : left;
		background-color : black;
		border : 2.5px solid white;
		margin : 1%;
	}
	nav > li:hover {
		background-color : white;
		border : 2.5px solid black;
		color : rgb(255, 100, 100);
	}
	nav > li > a, ul > li > a {
		display : block;
		text-decoration : none;
		color : rgb(100, 100, 255);
		padding : 2.5%;
	}
	nav > li > a:hover, ul > li > a:hover {
		color : rgb(255, 100, 100);
	}

/* 3. */
	header {
		background-color : black;
		max-width : 100%;
	}
	header > h1 {
		text-shadow : 2.5px 2.5px gray;
	}
	header > nav {
		overflow : hidden;
		display : flex;
	}
	header > nav > li {
		width : 50%;
	}

/* 4. */
	main {
		font-size : 25px;
		height : 100%;
	}
	
/* 5. */
	footer > article {
		margin : auto;
	}
	footer > article > a {
		text-decoration : none;
		color : white;
	}
	
/* 6. */
@media screen and (max-width : 910px){
	header > nav > li {
		width : 75%;
		margin-left : 12%;
	}
	main {
		height : 100%;
	}	
}
@media screen and (max-width : 455px){
	h3 {
		font-size : 200%; 
	}
	header, main, footer {
		font-size : 50%;
	}
}		